<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
<link rel="stylesheet" type="text/css" href="/css/main.css">
<title layout:title-pattern="$CONTENT_TITLE :: $DECORATOR_TITLE">축구정보 사이트</title>
</head>
<header>
	<h1><a href="/"><img class="mainLogo" src="/img/fifa_logo.png"></a></h1>	
      <nav>
        <ul>
          <li><a href="/teamSaveForm"><span>팀 등록</span></a></li>
          <li><a href="/stardiumSaveForm"><span>스타디움 등록</span></a></li>
          <li><a href="/playerSaveForm"><span>선수 등록</span></a></li>
          <li><a href="/teamList"><span>팀 목록</span></a></li>
          <li><a href="/stardiumList"><span>스타티움 목록</span></a></li>
          <li><a href="/playerList"><span>선수 목록</span></a></li>
          <li><a href="/playerByPositionList"><span>포지션별 선수목록</span></a></li>
        </ul>
      </nav>
</header>
</html>