<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<link rel="stylesheet" type="text/css" href="/css/main.css">
<title layout:title-pattern="$CONTENT_TITLE :: $DECORATOR_TITLE">축구정보 사이트</title>
</head>
<body>
<th:block th:replace="layout/header"></th:block>
	<section>
		<div class="index__section">
			<h1>FIFA에 오신것을 환영합니다</h1>
		</div>
	</section>
</body>
</html>