<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
<title layout:title-pattern="$CONTENT_TITLE :: $DECORATOR_TITLE">FIFA</title>
</head>
<body>
<th:block th:replace="layout/header"></th:block>
	<section>
		<div class="playerList__section">
			<h1>선수목록 페이지</h1>
			<table>
				<tr><th>No</th><th>선수명</th><th>포지션</th><th>소속팀</th><th></th></tr>
				<tr th:each="playerRankDto : ${playerRankDtoList}">
					<td th:text="${playerRankDto.rank}"></td>
					<td th:text="${playerRankDto.player.playerName}"></td>
					<td th:text="${playerRankDto.player.position}"></td>
					<td th:text="${playerRankDto.player.team.teamName}"></td>
					<td><button id="id" th:value="${playerRankDto.player.id}" onclick="javascript:playerDelete()">삭제</button></td>
				</tr>
			</table>
		</div>
	</section>
<script th:inline = "javascript" th:src="@{/js/delete.js}"></script>
</body>
</html>