<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
<title layout:title-pattern="$CONTENT_TITLE :: $DECORATOR_TITLE">FIFA</title>
</head>
<body>
<th:block th:replace="layout/header"></th:block>
	<section>
		<div class="playerByPositionList__section">
			<h1>포지션별 선수목록 페이지</h1>
			<table>
				<tr><th>포지션</th><th>파리생제르망</th><th>바르셀로나</th><th>레알마드리드</th></tr>
				<tr th:each="playerByPosition : ${playerByPositionList}">
					<td th:text="${playerByPosition.position}"></td>
					<td th:text="${playerByPosition.PSG}"></td>
					<td th:text="${playerByPosition.Barcelona}"></td>
					<td th:text="${playerByPosition.RealMadrid}"></td>
				</tr>
			</table>
		</div>
	</section>
</body>
</html>