<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
<title layout:title-pattern="$CONTENT_TITLE :: $DECORATOR_TITLE">FIFA</title>
</head>
<body>
<th:block th:replace="layout/header"></th:block>
	<section>
		<div class="stardiumSave__section">
			<h1>스타디움등록 페이지</h1>
			<form action="/stardiumSignup" method="post">
				<p>경기장명 : <input type="text" name="stardiumName"/></p>
				<p>팀명 : 
					<select name="team">
						<option value="" selected="selected">팀명을 선택해주세요.</option>
						<option th:each="team : ${teamList}" th:value="${team.id}" th:text="${team.teamName}"></option>
					</select>
				</p>
				<button type="submit">등록하기</button>
			</form>
		</div>
	</section>
</body>
</html>